@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.fullform {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
}

/* -------row2element------------------------ */

.row2elem {
    display: flex;
    justify-content: space-between;
}

.row2elem .c1,
.row2elem .c2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
}

@media screen and (max-width: 480px) {
    .row2elem {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .row2elem .c1,
    .row2elem .c2 {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 90%;
    }
    .row2elem .c1 {
        margin-bottom: 10px;
    }
}

/* ------------------------------------------ */

.row2elem .c1 {
    /* background-color: lightblue; */
}

.row2elem .c2 {
    /* background-color: lightcoral; */
}

/* -------------------------text input field decorated------------------------- */

input {
    width: 100% !important;
    min-width: 0px !important;
}

input[type="text"] {
    height: 32px;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 100;
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    padding-right: 5px;
}

input[type="text"]:hover {
    border: 1px solid #666;
}

input[type="text"]:focus {
    border: 1px solid rgba(121, 187, 238, 0.75) !important;
    box-shadow: 0 0 5px rgba(82, 168, 236, 0.5) !important;
}

/* ----------------------------------------------------------------------------- */

/* -------row1element------------------------ */

.row1elem {
    display: flex;
    justify-content: center;
}

.row1elem .c1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}

/* ------------------------------------------ */


/* code for container */

.am_con {
    border: 1px solid black;
    position: relative;
    padding: 20px;
    padding-top: 20px;
    background: #536976;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
  }
  
  .am_con div.legend {
    font-family: "Open Sans", sans-serif;
    border: 1px solid gray;
    background-color: #3f3f3f !important;
    color: white;
    font-family: sans-serif;
    /* width: 100px; */
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 2px 8px 2px 8px;
  }
  


  